################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Demo-DotNetCoreMVCSample/v16/Server/sqlite3
/CoreMVC.Data/obj
/Demo-DotNetCoreMVCSample/obj
/.vs/Demo-DotNetCoreMVCSample/v16
/CoreMVC.Data/bin/Debug/netstandard2.0
/Demo-DotNetCoreMVCSample/bin/Debug/netcoreapp3.1
/.vs/Demo-DotNetCoreMVCSample
/CoreMVC.Data/CoreMVC.Data.csproj.user
